cffi==1.14.1
click==7.1.2
cycler==0.10.0
imutils==0.5.3
kiwisolver==1.2.0
matplotlib==3.3.0
numpy==1.19.1
opencv-python==4.3.0.36
Pillow==9.3.0
pycparser==2.20
pyparsing==2.4.7
pypng==0.0.20
PyQRCode==1.2.1
pyserial==3.4
python-dateutil==2.8.1
PyVISA==1.10.1
pyzbar==0.1.8
scipy==1.5.2
six==1.15.0
sounddevice==0.4.0
SoundFile==0.10.3.post1
